{% extends 'AppBundle::admin/layout.html.twig' %}

{% set page = 'thread' %}
{% set menu = 'group' %}
{% do script(['app/js/admin/group/thread/index.js']) %}

{% block sidebar %}
  {% include 'AppBundle::admin/group/side-bar.html.twig' %}
{% endblock %}

{% block page_title %}
    {{ '话题管理' }}
{% endblock %}

{% block page_flash_message %}
  {{ web_macro.flash_messages() }}
{% endblock %}

{% block main %}
  <form id="thread-search-form" class="form-inline well well-sm" action="" method="get" novalidate>
    <div class="form-group">

      <select class="form-control" name="status">
        {{ select_options(dict('threadStatus'), app.request.query.get('status'), '--话题状态--'|trans) }}
      </select>
    </div>
    <div class="form-group">

      <select class="form-control" name="threadType">
        {{ select_options(dict('threadType'), app.request.query.get('threadType'), '属性'|trans) }}
      </select>
    </div>
    <span class="divider"></span>

    <div class="form-group">
      <input type="text" id="groupName" name="groupName" class="form-control" value="{{ app.request.query.get('groupName') }}"
             placeholder="{{ '所属小组'|trans }}">
    </div>

    <div class="form-group">
      <input type="text" id="title" name="title" class="form-control" value="{{ app.request.query.get('title') }}"
             placeholder="{{ '话题名称关键词'|trans }}">
    </div>

    <button class="btn btn-primary">搜索</button>
  </form>
  <table id="thread-table" class="table table-striped table-hover" data-search-form="#thread-search-form">
    <thead>
    <tr>
      <th>{{ '编号'|trans }}</th>
      <th width="30%">{{ '名称'|trans }}</th>
      <th>{{ '属性'|trans }}</th>
      <th>{{ '创建者'|trans }}</th>
      <th>{{ '所属小组'|trans }}</th>
      <th>{{ '回复数'|trans }}</th>
      <th>{{ '状态'|trans }}</th>
      <th width="10%">{{ '操作'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    <p class="text-muted">
      <span class="mrl">{{ '话题总数：'|trans }}<strong class="inflow-num">{{ threadCount }}</strong></span>
    </p>
    {% for thread in threads %}
      {% set group = groups[thread.group_id] %}
      {% set user = users[thread.user_id] %}     
      {% include 'AppBundle::admin/group/thread-table-tr.html.twig' with {thread:thread, group:group, user:user} %}
    {% endfor %}
    </tbody>
  </table>
  {{ web_macro.paginator(paginator) }}
{% endblock %}