{% extends 'AppBundle::bootstrap-modal-layout.html.twig' %}

{% block title %}{{'小组信息'|trans}}{% endblock %}

{% block body %}

<table class="table table-striped table-condenseda table-bordered">
  <tr>
    <th width="25%">{{'小组名称'|trans}}</th>
    <td width="75%">
      {{ group.title|raw }}
    </td>
  </tr>
  <tr>
    <th width="25%">{{'小组介绍'|trans}}</th>
    <td width="75%">
      {{ group.about|raw }}
    </td>
  </tr>
  <tr>
    <th>{{'状态'|trans}}</th>
    <td>
      {{ dict_text('groupStatus', group.status) }}
    </td>
  </tr>
  <tr>
    <th>{{'创建时间'|trans}}</th>
    <td> 
      {{ group.created_time|date('Y-n-d H:i:s') }}    
    </td>
  </tr>
  <tr>
    <th>{{'所有着'|trans}}</th>
    <td>
        {{ user.username }} -- {{ user.nickname }}
    </td>
  </tr>
  <tr>
</table>

{% endblock %}

{% block footer %}
  <button type="button" class="btn btn-primary" data-dismiss="modal">{{'关闭'|trans}}</button>
{% endblock %}