{% import "AppBundle::admin/macro.html.twig" as admin_macro %}
<tr id="thread-table-tr-{{ thread.id }}">
  <td>
    {{ thread.id }}
  </td>
  <td>
    <strong>{{ thread.title|raw }}</strong>
    {% if thread.status == 'close' %}
      <label class="label label-danger">关闭</label>
    {% endif %}
  </td>
  <td nowrap="nowrap">
    <a href="javascript:;" title="{% if thread.is_elite %} 取消加精 {% else %} 加精 {% endif %}" data-url="{% if thread.is_elite %} {{ path('admin_thread_cancel_elite', {id:thread.id}) }} {% else %} {{ path('admin_thread_set_elite', {id:thread.id}) }} {% endif %}" class="promoted-label">
      <span class="label{% if thread.is_elite %} label-success {% else %} label-default {% endif %}">精</span>
    </a>
    <a href="javascript:;" title="{% if thread.is_stick %} 取消置顶 {% else %} 置顶 {% endif %}" data-url="{% if thread.is_stick %} {{ path('admin_thread_cancel_stick', {id:thread.id}) }} {% else %} {{ path('admin_thread_set_stick', {id:thread.id}) }} {% endif %}" class="promoted-label">
      <span class="label{% if thread.is_stick %} label-success {% else %} label-default {% endif %}">顶</span>
    </a>
  </td>
  <td>
    {{ admin_macro.user_link(user) }}
  </td>
  <td>
    {{ group.title }}
  </td>
  <td>
    {{ thread.post_num }}
  </td> 
  <td>
    {{ dict_text('threadStatus', thread.status) }}
  </td>
  <td>
    <div class="btn-group">
      <a href="#modal" data-toggle="modal" data-url="{{ path('admin_goods_show', {id:thread.id}) }}" data-url="" class="btn btn-default btn-sm">查看</a>
      <a href="#" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span> 
      </a>
      <ul class="dropdown-menu">
        {% if thread.status == 'close' %}
          <li>
            <a title="开启" class="open-thread" data-url="{{ path('admin_thread_open', {id:thread.id}) }}" href="javascript:;">
              <span class="glyphicon glyphicon-ok"></span>
              开启话题
            </a>
          </li>
          <li>
            <a title="永久删除" class="delete-thread" data-url="{{ path('admin_thread_delete', {id:thread.id}) }}" href="javascript:;">
              <span class="glyphicon glyphicon-trash"></span>
              永久删除
            </a>
          </li>
        {% elseif thread.status == 'open' %}
            <li>
              <a title="关闭" class="close-thread" data-url="{{ path('admin_thread_close', {id:thread.id}) }}" href="javascript:;">
                <span class="glyphicon glyphicon-off"></span>
                关闭话题
              </a>
            </li>
        {% endif %}
      </ul>
    </div>
  </td>
</tr>