{% extends 'AppBundle::bootstrap-modal-layout.html.twig' %}
{% do script(['app/js/admin/category/modal/index.js']) %}
{% block title %}{% if category.id %}{{'编辑分类'|trans}}{% else %}{{'添加分类'|trans}}{% endif %}{% endblock %}

{% block body %}
<div id="category-creater-widget">

  <form id="category-form" class="form-horizontal" action="{% if category.id %}{{ path('admin_goods_category_edit', {id:category.id}) }}{% else %}{{ path('admin_goods_category_create') }}{% endif %}" method="post">
    <div class="form-group">
      <label class="col-md-2 control-label" for="category-name-field">{{'名称'|trans}}</label>
      <div class="col-md-8 controls">
        <input class="form-control" id="category-name-field" type="text" name="name" value="{{ category.name }}" tabindex="1">
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label" for="category-code-field">{{'编码'|trans}}</label>
      <div class="col-md-8 controls">
        <input class="form-control" id="category-code-field" type="text" name="code" value="{{ category.code }}" data-url="{{ path('admin_goods_category_checkcode', {exclude:category.code}) }}" tabindex="3">
        <div class="help-block">{{'必填，建议使用分类名称的英文单词或缩写作为编码。'|trans}}</div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label" for="category-description-field">{{ '分类描述'|trans }}</label>
      <div class="col-md-8 controls">
        <textarea class="form-control" id="category-description-field" style="height:100px;" name="description">{{category.description}}</textarea>
        <div class="help-block">{{'非必填'|trans}}</div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label" for="category-code-field">{{'图标'|trans}}</label>
      <div class="col-md-8 controls">
        <div id="category-icon-field">
          {% if category.icon %}
            <img class="mbm" src="{{ file_path(category.icon) }}" width="132">
          {% endif %}
        </div>
        <input type="hidden" name="icon" value="{{ category.icon }}">
        <a class="btn btn-fat btn-primary upload-picture-btn" id="upload-picture-btn" data-upload-token="thumb">
          {{'上传新图片'|trans}}
        </a>
        <div class="help-block">{{'允许上传的图标文件格式为'|trans}}'pg, jpeg, gif, png</div>
      </div>
    </div>
    <input type="hidden" name="group_id" value="{{ category.group_id }}">
    <input type="hidden" name="parent_id" value="{{ category.parent_id }}">
    {{ form_csrf_token() }}
  </form>
</div>
{% endblock %}

{% block footer %}
  {% if category.id %}
    <button type="button" class="btn btn-default pull-left delete-category" data-url="{{ path('admin_goods_category_delete', {id:category.id}) }}" tabindex="5"><i class="glyphicon glyphicon-trash"></i> {{'删除'|trans}}</button>
  {% else %}

  {% endif %}
  <button id="category-create-btn" type="submit" class="btn btn-primary pull-right" form="category-form">{{'提交'|trans}}</button>
  <button type="button" class="btn btn-link pull-right" data-dismiss="modal">{{'取消'|trans}}</button>

{% endblock %}