{% extends 'AppBundle::base.html.twig' %}

{% import "macro.html.twig" as web_macro %}
{% import "admin/macro.html.twig" as admin_macro %}

{% do css(['libs/vendor.css', 'app/css/admin/main.css'], 100) %}
{% do script(['libs/vendor.js', 'app/js/admin/common.js', 'app/js/admin/main.js'], 100) %}
{#
  {% set body_class = 'hold-transition skin-blue-light sidebar-mini' %}
#}

{% block body %}
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{path('admin_dashboard')}}">{{'管理后台'}}</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="{% if menu == 'user' %} active {% endif %}">
          <a title="{{'用户'|trans}}" href="{{ path('admin_user') }}">
            {{'用户'|trans}}
          </a>
        </li>
        <li class="{% if menu == 'express' %} active {% endif %}"><a title="{{'快递'|trans}}" href="{{ path('admin_express') }}">{{'快递'|trans}}</a></li>
        <li class="{% if menu == 'goods' %} active {% endif %}"><a title="{{'旧货'|trans}}" href="{{ path('admin_goods') }}">{{'旧货'|trans}}</a></li>
        <li class="{% if menu == 'group' %} active {% endif %}"><a title="{{'论坛'|trans}}" href="{{ path('admin_group') }}">{{'论坛'|trans}}</a></li>
        <li class="{% if menu == 'system' %} active {% endif %}"><a title="{{'系统'|trans}}" href="{{ path('admin_setting_site') }}">{{'系统'|trans}}</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ path('homepage') }}"><i class="glyphicon glyphicon-home"></i> {{'回首页'|trans}}</a></li>
        <li class="dropdown">
          <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> {{ app.user.nickname }} <span class="glyphicon glyphicon-chevron-down"></span></a>
          <ul class="dropdown-menu main-list">
            <li><a href="{{ path('logout') }}"><i class="glyphicon glyphicon-off"></i> {{'退出'|trans}}</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.navbar-collapse -->
  </div>
</div>
  <!-- /.content-wrapper -->
<div class="container">
  {% block container %}
    <div class="row">  
      {% block content %}
        <div class="col-md-2">
          {% block sidebar %}
          {% endblock %}
        </div>

        <div class="col-md-10">
          <div class="page-header clearfix">
            {% block page_flash_message %}
            {% endblock %}
            <h1 class="pull-left">
              {% block page_title %}
              {% endblock %}
            </h1>
            <div class="pull-right">
              {% block page_buttons %}
              {% endblock %}
            </div>
          </div>

          {% block content_header %}{% endblock %}
          
          {% block tabs %}{% endblock %}

          {% block capsule %}{% endblock %}

          {% block main %}{% endblock %}
        </div>

      {% endblock %}
    </div>
  {% endblock %}
</div>
{% endblock %}