{% set menu = '' %}
{% do script(['app/js/default/index.js']) %}

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{path('homepage')}}">{{'浙江理工大学－校园帮'}}</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        {% if app.user %}
        <li class="user-avatar-li nav-hover">
            <a href="javascript:;" class="dropdown-toggle">
              <img class="avatar-xs" src="{{ file_path(app.user.avatar|default(''), 'avatar.png') }}">
            </a>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation" class="dropdown-header">{{ app.user.nickname }}</li>
              <li>
                <a href=""><i class="glyphicon glyphicon-user"></i>个人主页</a>
              </li>
              <li>
                <a href=""><i class="glyphicon glyphicon-cog"></i>个人设置</a>
              </li>
               {% if app.user.isAdmin()|default(null) %}           
                <li>
                  <a href="{{ path('admin_dashboard') }}"><i class="glyphicon glyphicon-tasks"></i>管理后台</a>
                </li>
              {% endif %}
              <li class="user-nav-li-logout">
                <a href="/logout"><i class="glyphicon glyphicon-off"></i>退出登录</a>
              </li>
            </ul>
        </li>
        <li class="visible-lg nav-hover">
          <a class="hasmessage">
            <span class="fa fa-envelope-o" style="color: white;"></span>
            <span class="dot"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="/notification">
                <span class="pull-right num">11</span>
                <i class="glyphicon glyphicon-bell"></i>通知
              </a>
            </li>
            <li>
              <a href="/message/">
                <span class="pull-right num">3</span>
                <i class="glyphicon glyphicon-envelope"></i>私信
              </a>
            </li>
          </ul>
        </li>
        {% else %}
          <li class="hidden-xs"><a href="{{ path('login', {goto:_target_path|default(app.request.server.get('REQUEST_URI'))}) }}">{{'登录'|trans}}</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>